# Python\n__pycache__/\n*.pyc\n*.pyo\n*.pyd\n*.db\n\n# Django\n*.sqlite3\n/media\n/staticfiles\n\n# Node\nnode_modules/\nbuild/\n\n# Environment\n.env
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Django
*.sqlite3
/media
/staticfiles

# Node
node_modules/
build/

# Environment
.env

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*