{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur notre site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'monApp/home.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenue sur l'administration du site</h1>
    </header>
    <section>
        <p>
            Merci de visiter l'administration. Vous pouvez commencer à explorer chaque fonctionnalité en vous connectant ou en vous inscrivant.
        </p>
    </section>
</body>
</html>
