.button-item {
  width: 10rem;
  display: flex;
  justify-content: center;
  background-color: #9EEDE7;
  margin-top: 0.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  font-size: small;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

