.item-selectionned {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.text-disposition2 {
  height: max-content;
  width: 100%;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
  padding-top: 0rem;
  white-space: normal; 
  text-align: center; 
}
